@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&family=Play:wght@400;700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
    margin:0px;
    padding:0px;
}

body {
    margin: 0px !important;
    padding: 0;
    font-family: Russo One;
}